<%- include("partials/header"); -%>
    
    <h1>Home</h1><span style="color: #1abc9c;font-size: 20px;">Click on compose to start blogging </span>
    <p><%= startcontent %> </p>
    <%   posts.forEach((element)=>{%>
       <h2> <%= element.title %> </h2>
       <p>  <%= element.des.substring(0,100)+"..." %> 
        <a href="post/<%= element.title %> ">Read more</a>
      </p>
      
   <% }) %> 
  

    <%- include("partials/footer");-%>